parameters:
	ignoreErrors:
		-
			message: '#Unable to resolve the template type#'
			path: %currentWorkingDirectory%/src
		-
			message: '#Generator expects value type#'
			path: %currentWorkingDirectory%/src
		-
			message: '#Unsafe usage of new static#'
			path: %currentWorkingDirectory%/src