<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.0/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutTestsThatDoNotTestAnything="false">
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="TEST_POSTGRES_DSN" value="pgsql://postgres:123456789@localhost:5432/test"/>
        <env name="DATABASE_CONNECTION_DSN" value="sqlite:///:memory:"/>
    </php>

    <testsuites>
        <testsuite name="Service Bus active record component">
            <directory>./tests/</directory>
        </testsuite>

        <testsuite name="Service Bus cache component">
            <directory>./vendor/php-service-bus/cache/tests</directory>
        </testsuite>

        <testsuite name="Service Bus common storage component">
            <directory>./vendor/php-service-bus/storage-common/tests</directory>
        </testsuite>

        <testsuite name="Service Bus sql storage implementation component">
            <directory>./vendor/php-service-bus/storage-sql/tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
